
    <div class="container border border-ligt my-4 bg-light my-great-paragraph">
        BIAT est une banque universelle, acteur de référence en Tunisie , la BIAT constitue aujourd'hui un groupe bancaire 
        solide avec ses filiales dans les domaines de l'assurrance, de la gestion actifs, du capital-investissement de 
        l'intermédiation boursière et du conseil.
        implantée sur tout le territoire, la BIAT compte206 agences à travers toute la Tunisie .près de 2000 collaborateurs
         travaillent au service de tous ses clients: particuliers ,professionnels, PME ,grandes entreprises et institutionnels.
         
    </div>
    <div class="container my-3 ">
         <a class="btn b fs-5 p-3 text-white" style="background-color: rgb(0, 69, 121);" routerLink="/login">Login</a>

      </div>

 
     

